*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/spring-backend/target/
/spring-backend/build/
# Java / Spring Boot
spring-backend/target/

# IDE
.idea/
*.iml

# Android build
app/build/